/* 把我们所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}
/* 去掉li 的小圆点 */
li {
  list-style: none;
}
img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}
button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ff514d;
}
button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  outline: none;
}
body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}
.hide,
.none {
  display: none;
}
/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.header .header-box .nav ul li:first-child a {
  color: black;
}
.header .header-box .nav ul li:nth-child(3) a {
  color: #FF453B;
}
.nav {
  background-color: #fff;
  text-align: center;
  margin-top: 50px;
}
.nav .nav-top {
  margin-bottom: 40px;
  font-size: 30px;
  color: #000;
}
.nav .nav-b span {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.nav .nav-b .orange {
  border-bottom: 3px solid #fa5735;
  color: #fa5735;
}
article {
  margin-top: 20px;
  width: 1000px;
  margin: auto;
}
article ul {
  margin-bottom: 50px;
}
article ul li {
  margin-top: 30px;
  margin-right: 20px;
  float: left;
  background-color: #fff;
  width: 220px;
  height: 230px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}
article ul li img {
  width: 220px;
  border-radius: 5px;
}
article ul li .tex {
  margin: 12px;
  font-size: 13px;
}
article ul li .xin {
  margin-left: 150px;
  margin-top: 30px;
}
article ul li .xin .like {
  display: inline-block;
  background: url('../css/img/xin.png') no-repeat;
  width: 13px;
  height: 13px;
}
article ul li .xin .like a {
  margin-left: 20px;
}
article ul li .xin .sho {
  display: inline-block;
  background: url('../css/img/reply.png') no-repeat;
  width: 13px;
  height: 13px;
}
article ul li .xin .sho a {
  margin-left: 40px;
}
article .clic {
  height: 40px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: red;
  background: url(../css/img/more.png) no-repeat 440px 7px;
  margin-bottom: 20px;
}
